@import "tailwindcss";

/* App base */
html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-white text-zinc-900 antialiased;
}

/* Better tap targets on mobile */
button,
input,
select,
textarea {
  @apply outline-none;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
